<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	
	<servlet>
	<servlet-name>RegisterServlet</servlet-name>
	<servlet-class>com.pegasus.java.loginapp.RegistrationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>RegisterServlet</servlet-name>
	<url-pattern>/register</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>LoginServlet</servlet-name>
	<servlet-class>com.pegasus.java.loginapp.LoginServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>LoginServlet</servlet-name>
	<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>ChangepasswordServlet</servlet-name>
	<servlet-class>com.pegasus.java.loginapp.ChangePasswordServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>ChangepasswordServlet</servlet-name>
	<url-pattern>/changepassword</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>CreateProfileServlet</servlet-name>
	<servlet-class>com.pegasus.java.loginapp.CreateProfileServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>CreateProfileServlet</servlet-name>
	<url-pattern>/createprofile</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>ForgetPasswordServlet</servlet-name>
	<servlet-class>com.pegasus.java.loginapp.ForgetPasswordServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>ForgetPasswordServlet</servlet-name>
	<url-pattern>/resetpassword</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>SearchServlet</servlet-name>
	<servlet-class>com.pegasus.java.loginapp.SearchServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>SearchServlet</servlet-name>
	<url-pattern>/search</url-pattern>
	</servlet-mapping>
	</web-app>